<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<% @our_names.each do |name| %> 

	Hello <%= name %>!
	<br/>

<% end %>


<a href="http://oneinchmile.com">Click Here!</a>

<%= link_to('Click Here!', 'http://oneinchmile.com') %>


<ul>
	<li> first thing </li>
	<li> second thing </li>
</uL>

<% if @first_name %>

	<%= @first_name %>
	<%= @last_name %>

<% else %>


	<!-- default submit url, is _this_ url !-->
	<form method="post" action="/welcome">

	<label>First Name</label>
	<input type="text" name="firstname">
	<label>Last Name</label>
	<input type="text" name="lastname">

	<!-- type="submit" => send to server when pressed !-->
	<button type="submit">Submit Me!</button>

	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token() %>" />

<% end %>


</form>